<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/admin/searchpage.css">
</head>

<body>
	<%- include('../partials/admin/admin-navbar.ejs') %>
	<section class="container">
		<div class="row">
			<form action="" class="col">
				<div class="row">
					<select
						class="form-control search-slt col"
						name="sector"
						id="exampleFormControlSelect1"
					>
						<option selected hidden disabled>Job Sector</option>
						<% jobSector.forEach(option=>{ %>
						<option value="<%=option.value%>"><%=option.label%> </option>
						<% }); %>
					</select>
					<!-- <div class="col"> -->
					<button type="submit" class="btn btn-danger wrn-btn col">
						Search
					</button>
					<!-- </div> -->
				</div>
			</form>
			<form action="" class="col">
				<div class="row">
					<select
						class="form-control search-slt col"
						name="sector"
						id="exampleFormControlSelect1"
					>
						<option selected hidden disabled>Job Sector</option>
						<% jobSector.forEach(option=>{ %>
						<option value="<%=option.value%>"><%=option.label%> </option>
						<% }); %>
					</select>
					<!-- <div class="col"> -->
					<button type="submit" class="btn btn-danger wrn-btn col">
						Search
					</button>
					<!-- </div> -->
				</div>
			</form>
		</div>
	</section>

	<section id="test">
		<form action="/admin/search" method="post">
			<select name="jobSector">
					<option value="" selected hidden disabled>Job Sector</option>
					<% jobSector.forEach(option=>{ %>
					<option value="<%=option.value%>"><%=option.label%> </option>
					<% }); %>
			</select>
			<select name="diploma">
				<option value="" selected hidden disabled>Diploma</option>
				<% diploma.forEach(option=>{ %>
				<option value="<%=option.value%>"><%=option.label%> </option>
				<% }); %>
			</select>
			<select name="bachelors">
				<option value="" selected hidden disabled>bachelors</option>
				<% bachelors.forEach(option=>{ %>
				<option value="<%=option.value%>"><%=option.label%> </option>
				<% }); %>
			</select>
			<select name="masters">
					<option value="" selected hidden disabled>masters</option>
					<% masters.forEach(option=>{ %>
					<option value="<%=option.value%>"><%=option.label%> </option>
					<% }); %>
			</select>
			<select name="phd">
					<option value="" selected hidden disabled>phd</option>
					<% phd.forEach(option=>{ %>
					<option value="<%=option.value%>"><%=option.label%> </option>
					<% }); %>
				</select>
			<select name="professional">
					<option value="" selected hidden disabled>professional</option>
					<% professional.forEach(option=>{ %>
					<option value="<%=option.value%>"><%=option.label%> </option>
					<% }); %>
				</select>
			

		<button type="submit">Search</button>
		</form>

	</section>

</body>
