<aside id="side-tab" class="float-left">
    <ul class="nav nav-tabs flex-column nav-pills nav-fill rounded ">
        <li class="nav-item border rounded-top border-primary">
            <a
                class="nav-link <%= tabpath==='/instructions' ? 'active' :'' %> "
                href="/jobseeker/resume"
                >Instructions</a
            >
        </li>
        <li class="nav-item border border-primary">
            <a
                class="nav-link <%= tabpath==='/summary' ? 'active' :'' %> "
                href="/jobseeker/resume/summary"
                >Summary</a
            >
        </li>
        <li class="nav-item border -top border-primary">
            <a
                class="nav-link <%= tabpath==='/work' ? 'active' :'' %>"
                href="/jobseeker/resume/work-experience"
                >Work Experience</a
            >
        </li>
        <li class="nav-item border  border-primary">
            <a
                class="nav-link <%= tabpath==='/education' ? 'active' :'' %>"
                href="/jobseeker/resume/education"
                >Education</a
            >
        </li>
        <li class="nav-item border  border-primary">
            <a
                class="nav-link <%= tabpath==='/skills' ? 'active' :'' %>"
                href="/jobseeker/resume/skills"
                >Skills</a
            >
        </li>
        <li class="nav-item border  border-primary">
            <a
                class="nav-link <%= tabpath==='/personal-info' ? 'active' :'' %>"
                href="/jobseeker/resume/personal-info"
                >Personal Information</a
            >
        </li>
        <li class="nav-item border bg-warning rounded-bottom border-primary">
            <a
                class="nav-link text-light <%= tabpath==='/create-cv' ? 'active' :'' %>"
                href="/jobseeker/resume/generate-cv"
                >Generate CV</a
            >
        </li>
    </ul>
</aside>
