<%- include('../partials/jobseeker/jobseeker-head.ejs') %>
</head>

<body class="manage-profile-body">
    <%- include('../partials/jobseeker/jobseeker-navbar.ejs') %>
    <main class="container-custom">
        <form
            class="manage-profile-form border border-primary"
            action="/jobseeker/manage-profile"
            method="POST"
        >
            <div class="row">
                <div class="form-group col">
                    <label for="job-sector">Preferred Job Sector</label>
                    <select class="form-control" name="sector" id="job-sector" >
                        <option value="" selected disabled hidden>--Select one--</option>
                        <% jobSector.forEach(option=>{ %>
                            <option value="<%=option.value%>" <%= data.preferredJobSector===option.value ? 'selected' :null %>><%=option.label%> </option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="education-level">Your highest completed education level</label>
                    <select class="form-control" name="education" id="education">
                        <option value="" selected disabled hidden>--Select one--</option>
                        <% educationLevel.forEach(option=>{ %>
                            <option value="<%=option.value%>" <%= data.highestCompletedEducation===option.value ? 'selected' :null %>><%=option.label%> </option>
                        <% }); %>
                    </select>
                </div>
            </div>
                <div class="row">
                <div class="form-group col">
                    <label for="">Number of GCSE O/Level Passes</label>
                    <input value= "<%=data.olPasses%>" class="form-control" name="olPasses" type="number" min="0" max="10" />
                </div>
                <div class="form-group col">
                    <label for="">Number of GCSE A/Level Passes</label>
                    <input value= "<%=data.alPasses%>" class="form-control" name="alPasses" type="number" min="0" max="10" />
                </div>
            </div>
  
            <hr>

            <h1>Qualifications</h1>
            <p>Select where applicable, else select none</p>
            <div class="form-group">
                <label for="">A/Level Stream</label>
                <select class="form-control input" name="alStream" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% alStream.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.alStream===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Diploma</label>
                <select class="form-control" name="diploma" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% diploma.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.diploma===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Bachelor's Degree</label>
                <select  class="form-control" name="bachelors" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% bachelors.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.bachelors===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Masters</label>
                <select class="form-control" name="masters" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% masters.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.masters===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">PhD</label>
                <select class="form-control" name="phd" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% phd.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.phd===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="None">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Professional Qualifications</label>
                <select class="form-control" name="professional" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% professional.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.professionalQualification===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <button class="btn btn-primary" >Submit Changes</button>
            <button class="btn btn-danger">Reset</button>
            <br>
            <hr>
            <h1>Skills and Experience</h1>
            <p>Your skills and experience will be managed from the resume manager section. If you haven't filled them out,
                you may do so by clicking on the button below:                
            </p>
            <a class="btn btn-warning" href="/jobseeker/resume/skills">Update Skills</a>
            <a class="btn btn-success" href="/jobseeker/resume/work-experience">Update Work Experience</a>
    
 
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
