<%- include('../partials/jobseeker/jobseeker-head.ejs') %>
</head>

<body class="manage-profile-body">
    <%- include('../partials/jobseeker/jobseeker-navbar.ejs') %>
    <main class="container-custom">
        <form
            class="manage-profile-form border border-primary"
            action="/jobseeker/manage-profile"
            method="POST"
        >
            <div class="row">
                <div class="form-group col">
                    <label for="job-sector">Preferred Job Sector</label>
                    <select class="form-control" name="sector" id="job-sector" >
                        <option value="" <%= !data.preferredJobSector ? 'selected' :null %> disabled hidden>--Select one--</option>
                        <option value="Accountancy" <%= data.preferredJobSector==="Accountancy" ? 'selected' :null %>>Accountancy, banking and finance.</option>
                        <option value="Business" <%= data.preferredJobSector==="Business" ? 'selected' :null %>>Business, consulting and management.</option>
                        <option value="Charity" <%= data.preferredJobSector==="Charity" ? 'selected' :null %>>Charity and voluntary work.</option>
                        <option value="Arts" <%= data.preferredJobSector==="Arts" ? 'selected' :null %>>Creative arts and design.</option>
                        <option value="Energy" <%= data.preferredJobSector==="Energy" ? 'selected' :null %>>Energy and utilities.</option>
                        <option value="Engineering" <%= data.preferredJobSector==="Engineering" ? 'selected' :null %>>Engineering and manufacturing.</option>
                        <option value="Environment" <%= data.preferredJobSector==="Environment" ? 'selected' :null %>>Environment and agriculture.</option>
                        <option value="Healthcare" <%= data.preferredJobSector==="Healthcare" ? 'selected' :null %>>Healthcare.</option>
                        <option value="IT" <%= data.preferredJobSector==="IT" ? 'selected' :null %>>Information Technology.</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="education-level">Your highest completed education level</label>
                    <select class="form-control" name="education" id="education">
                        <option value="" selected disabled hidden>--Select one--</option>
                        <option value="1">Junior School</option>
                        <option value="2">High School</option>
                        <option value="3">Diploma</option>
                        <option value="4">Undergratuate Degree</option>
                        <option value="5">Masters</option>
                        <option value="6">Ph.D</option>
                    </select>
                </div>
            </div>
                <div class="row">
                <div class="form-group col">
                    <label for="">Number of GCSE O/Level Passes</label>
                    <input class="form-control" name="olPasses" type="number" min="0" max="10" />
                </div>
                <div class="form-group col">
                    <label for="">Number of GCSE A/Level Passes</label>
                    <input class="form-control" name="alPasses" type="number" min="0" max="10" />
                </div>
            </div>
  
            <hr>

            <h1>Qualifications</h1>
            <p>Select where applicable, else select none</p>
            <div class="form-group">
                <label for="">A/Level Stream</label>
                <select class="form-control input" name="alStream" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="Science">Science</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Arts">Arts</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Diploma</label>
                <select class="form-control" name="diploma" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Business Studies </option>
                    <option value="">Management Studies </option>
                    <option value="">Technology Studies </option>
                    <option value="">Design Studies </option>
                    <option value="">Economic Studies </option>
                    <option value="">Tourism and Hospitality </option>
                    <option value="">Art Studies </option>
                    <option value="">Food and Beverage Studies </option>
                    <option value="">Computer Science </option>
                    <option value="">Business </option>
                    <option value="">Engineering Studies </option>
                    <option value="">Journalism and Mass Communication </option>
                    <option value="">Administration Studies </option>
                    <option value="">Marketing Studies </option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Bachelor's Degree</label>
                <select  class="form-control" name="bachelors" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="Business">Business</option>
                    <option value="Health">Health professions and related programs</option>
                    <option value="Social Sciences">Social sciences and history</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Biology">Biological and biomedical sciences</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Performing Arts">Visual and performing arts</option>
                    <option value="Education">Education</option>
                    <option value="Communication">Communication, journalism, and related programs</option>
                    <option value="Homeland security">Homeland security, law enforcement, and firefighting</option>
                    <option value="IT">Computer and information sciences</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Masters</label>
                <select class="form-control" name="masters" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="Business">Business</option>
                    <option value="Health">Health professions and related programs</option>
                    <option value="Social Sciences">Social sciences and history</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Biology">Biological and biomedical sciences</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Performing Arts">Visual and performing arts</option>
                    <option value="Education">Education</option>
                    <option value="Communication">Communication, journalism, and related programs</option>
                    <option value="Homeland security">Homeland security, law enforcement, and firefighting</option>
                    <option value="IT">Computer and information sciences</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">PhD</label>
                <select class="form-control" name="phd" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <% phd.forEach(option=>{ %>
                        <option value="<%=option.value%>" <%= data.phd===option.value ? 'selected' :null %>><%=option.label%> </option>
                    <% }); %>
                    <!-- <option value="Business" <%= data.phd==="Business" ? 'selected' :null %>>Business</option>
                    <option value="Health">Health professions and related programs</option>
                    <option value="Social Sciences">Social sciences and history</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Biology">Biological and biomedical sciences</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Performing Arts">Visual and performing arts</option>
                    <option value="Education" <%= data.phd==="Education" ? 'selected' :null %>>Education</option>
                    <option value="Communication">Communication, journalism, and related programs</option>
                    <option value="Homeland security">Homeland security, law enforcement, and firefighting</option>
                    <option value="IT">Computer and information sciences</option> -->
                    <optgroup>""</optgroup>
                    <option value="None">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Professional Qualifications</label>
                <select class="form-control" name="professional" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Association of Chartered Certified Accountants (ACCA)</option>
                    <option value="">BCS - The Chartered Institute for IT</option>
                    <option value=""
                        >Chartered Institute of Personnel and Development (CIPD)</option
                    >
                    <option value="">Institution of Civil Engineers (ICE)</option>
                    <option value="">Royal Institution of Chartered Surveyors (RICS).</option>

                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <button class="btn btn-primary" >Submit Changes</button>
            <button class="btn btn-danger">Reset</button>
            <br>
            <hr>
            <h1>Skills and Experience</h1>
            <p>Your skills and experience will be managed from the resume manager section. If you haven't filled them out,
                you may do so by clicking on the button below:                
            </p>
            <a class="btn btn-warning" href="/jobseeker/resume/skills">Update Skills</a>
            <a class="btn btn-success" href="/jobseeker/resume/work-experience">Update Work Experience</a>
    
 
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
